body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #F0F3F6;
  font-family: 'Electrolize', sans-serif; 
  letter-spacing: 0.5px;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.nav-title {
  font-size: 30px;
}

.nav-option {
  font-size: 20px;
}

.nav-icon {
  padding-right: 7.5px;
}

.nav-option:active {
  background-color: transparent;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.home-card {
  font-size: 22px;
  width: 18rem;
  height: 6.7rem;
  margin: 15px;
}

.home-card-title {
  font-size: 26px;
}

.home-card:hover {
  transform: scale(1.05);
}

.card-option-title {
  font-size: 25px;
  padding-left: 15px;
  text-align: center;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 80px;
}

.card-price {
  font-size: 18px;
}

.page-header {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.page-title {
  font-size: 30px;
  padding-top: 5px;
}

.cliente-card-title {
  font-size: 24px;
}

.table-content-info {
  font-size: 18px;
}

.cliente-card-link {
  font-size: 16px;
  letter-spacing: 1px;
}

.cliente-input {
  font-size: 8px;
}

.produto-card-title {
  font-size: 24px;
}

.pedido-title {
  font-size: 24px;
}

.pedido-card-title {
  font-size: 22px;
}

.pedido-card-price {
  font-size: 20px;
}

.pedido-section-title {
  font-size: 28px;
}

.btn {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.blank-message {
  font-size: 16px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 10em;
  width: 100%;
  color: white;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.footer-text {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: 'Julius Sans One';
}

.custom-dropdown-toggle {
  font-size: 20px;
  width: 100%;
}

.custom-dropdown-item {
  font-size: 18px;
  text-align: center;
  width: inherit !important;
}

.custom-dropdown-item:active {
  background-color: transparent;
  color: #000;
}

.custom-content {
  background-color: white;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.toast-body {
  color: white;
  font-size: 18px;
}

.toast-header {
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  background-color: inherit;
}

.pedido-card {
  border-left: 3px solid #005B96;
}

.list-group-item {
  background-color: white;
}

.form-control {
  font-size: 20px;
}

.form-control::placeholder {
  color: #00000056;
  letter-spacing: 1px;
}

.form-label {
  font-size: 18px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner-container {
  text-align: center;
}

.default-button {
  background-color: #005B96 !important;
  border-color: #005B96 !important;
}

.default-button:hover, .default-button:active, .default-button:focus, .default-button:default  {
  background-color: #005a96e1 !important;
  border-color: #005a96e1 !important;
}

.confirm-button {
  background-color: #117554 !important;
  border-color: #117554 !important;
}

.confirm-button:hover, .confirm-button:active, .confirm-button:focus, .confirm-button:default  {
  background-color: #117554e1 !important;
  border-color: #117554e1 !important;
}

.cancel-button {
  background-color: #C62E2E !important;
  border-color: #C62E2E !important;
}

.cancel-button:hover, .cancel-button:active, .cancel-button:focus, .cancel-button:default  {
  background-color: #C62E2Ee1 !important;
  border-color: #C62E2Ee1 !important;
}

.back-icon:hover {
  transform: scale(1.1);
}
